@define-color background #1f2430;
@define-color foreground #cccac2;
@define-color focused #f28779;
@define-color occupied #c0caf5;
@define-color empty #686868;
@define-color urgent #ffd173;

* {
    font-family: JetBrainsMono Nerd Font;
    font-size: 8pt;
    min-height: 0px;
    background-color: transparent;
}

window#waybar {
    color: @foreground;
    background: @background;
}

#tags, #workspaces, #mode {
    padding-left: 6px;
}

#mode {
  color: @urgent
}

#tags button,
#workspaces button {
    padding: 0px;
    min-width: 16pt;
    color: @empty;
    border-radius: 0px;
}

#tags button:hover,
#workspaces button:hover {
    box-shadow: none;
    text-shadow: none;
    background: transparent;
}

#tags button.occupied,
#workspaces button.occupied {
    color: @occupied;
    font-weight: bold;
}

#tags button.focused,
#workspaces button.focused {
    color: @focused;
}

#tags button.urgent,
#workspaces button.urgent {
    color: @urgent;
}

#custom-record {
    color: @urgent;
}

#clock {
    padding: 2px 10px;
}

#custom-power {
    padding-right: 10px;
}
